<div id='products'>
  <h1>Products</h1>
  <div class='products-content'>
    <ul>
      <li class="product">
        <a href = '#'>
          <img src = "./../assets/1products.jpg" />
        </a>
        <p>
          Full-stack consultancy
        </p>
      </li>
      <li class="product">
        <a href = '#'>
          <img src = "./../assets/2Products.jpg" />
        </a>
        <p>
          Market analysis
        </p>
      </li>
      <li class="product">
        <a href = '#'>
          <img src = "./../assets/3Products.jpg" />
        </a>
        <p>
          Design
        </p>
      </li>
    </ul>
  </div>
</div>
<hr />
